<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBT3OU3g_zMgJq1EzgmGwLkmPAX0ie5Wpk</string>
	<key>GCM_SENDER_ID</key>
	<string>743441048175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app10.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>application10-e77b0</string>
	<key>STORAGE_BUCKET</key>
	<string>application10-e77b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743441048175:ios:c6b85beb8fbad5050f639a</string>
</dict>
</plist>